
table {
    border-collapse: collapse;
}

tr{
    cursor: pointer;
    margin-bottom: 50px;
}

tr:hover{
    background-color: rgb(245, 245, 245);
}

td{
    padding: 5px;
}


.display__container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.title{
    margin: 0 auto;
    width: 800px;
    text-align: center;
}

.btn-container{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    
}

.btn{
    font-size: 1em;
}

.editor{
    flex: 1;
    width: 800px;
    border: 1px solid grey;
}

.base__area{
    padding-left: 20px;
}

.image{
    height: auto;
    max-width: 100%;
    display: block;
}