
table {
    border-collapse: collapse;
}

tr{
    cursor: pointer;
    margin-bottom: 50px;
}

tr:hover{
    background-color: rgb(245, 245, 245);
}

td{
    padding: 5px;
}

pre{
    white-space: pre; 
}

.display__container{
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin-top: 1rem;
    height: calc(100vh - 50px);

}

.title{
    margin: 0 auto;
    width: 800px;
    text-align: center;
}

.previewWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.5rem;
    margin-top: 1rem;
}

.previewBtn{
    font-size: 1em;
}

.downloadBtn{
    font-size: 1em;
}


.btn-container{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    
}

.answerBtn{
    font-size: 1em;
}

.editor{
    flex: 1;
    width: 800px;
    border: 1px solid grey;
    height: 100%;
    overflow: auto;
}

.base__area{
    padding-left: 20px;
    height: 100%;
}

.image{
    height: auto;
    max-width: 100%;
    display: block;
}